@import "../basic/color";

.app {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.advice {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 530px;
  min-width: 530px;

  background: @canvas;
  border-radius: 15px;

  & {
    @media screen and (max-width: 550px) {
      width: 350px;
      min-width: 350px;
    }
  }

  .advice--title {
    margin: 50px auto 10px;

    color: @label;

    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;

    * {
      color: @label;
    }
  }

  .advice--message {
    padding: 15px;
    margin: 10px;

    color: @letter;
    font-size: 28px;
    font-weight: bold;
    text-align: center;

    &:after,
    &:before {
      content: '"';
    }
  }

  .advice--image {
    display: flex;
    margin: 10px auto;
    & > *:nth-child(2n) {
      display: none;
    }

    & {
      @media screen and (max-width: 550px) {

    & > *:nth-child(2n) {
      display: block;
    }
        & > *:nth-child(2n+1) {
          display: none;
        }
      }
    }
  }

  .advice--button {
    display: flex;
    justify-content: center;

    position: relative;
    top: 32px;

    .advice--button--wrapper {
      border-radius: 50%;
      padding: 15px;

      background-color: @label;

      transition: 0.3s;

      &:hover {
        -webkit-box-shadow: 0px 0px 15px 5px @label;
        box-shadow: 0px 0px 15px 5px @label;

        cursor: pointer;
      }

      .advice--button--image {
        width: 20px;
      }
    }
  }
}
